
.user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  flex-shrink: 0;
}

.hamburger-icon, .user-icon {
  margin-right: 8px; 
}

.user-icon {
  margin-right: 0;
}

button.icon-button {
  border: 2px solid black;
  border-radius: 8px;
}